.a1 ,.a2, .a3 ,.a4{
    visibility:hidden;
}
.a5{
    background-color: red;
}
.a6{
    background-color: #00C5CD;
}
.a7{
    background-color:   #00B2EE;
}
.a8{
    background-color:   #FF8C00 ;
}
.a9{
    background-color: #9932CC;
}
.a10{
    background-color: #CD2626;
}
.a11{
    background-color: #009ACD;
}
.a12{
    background-color: #8B0000;
}
.a13{
    background-color: #8B008B;
}
.a14{
    background-color: #666;
}
.a15{
    background-color: green;
}
.a16{
    background-color: #104E8B;
}