.a1 ,.a2, .a3 ,.a4{
    visibility:hidden;
}
.a5{
    background-color:#33A1C9;
}
.a6{
    background-color:#A020F0;
}
.a7{
    background-color:#FF4500;
}
.a8{
    background-color:#000;
}
.a9{
    background-color:#666;
}
.a10{
    background-color:#FF9912;
}
.a11{
    background-color:green;
}
.a12{
    background-color:#082E54;
}
.a13{
    background-color:#191970;
}
.a14{
    background-color:#666;
}
.a15{
    background-color:#33A1C9;
}
.a16{
    background-color:#228B22;
}

